.gp_pop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
}
.gp_hidden_input {
  position: absolute; 
  opacity: 0; 
  filter: Alpha(opacity=0);
  margin-left: 9999999px
}
.gp_wrap {
  width: 80vw;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.gp_tip {
  text-align: center;
  padding: 5px;
}
.gp_input_list {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.gp_input_grid {
  line-height: 1;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f4f4f4;
  font-size: 100%;
  color: #000;
  opacity: 1;
}
.gp_btn_list {
  margin-top: 30px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-around;
}
.gp_btn {
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  border-color: #c4c4c4;
  background-color: #fff;
}
.gp_btn:active {
  color: #1d90e6;
  border-color: #1d90e6;
}
.gp_btn_confirm {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
}
.gp_btn_confirm:active {
  background-color: #4db3ff;
}
.gp_close {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  float: right;
}
.gp_close:hover::before, .gp_close:hover::after {
  background: #20a0ff;
}
.gp_close::before, .gp_close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #bfcbd9;
}
.gp_close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gp_close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}